{% extends "layout.html" %}
{% block content %}
<div class="content blue-bg" style="display: flex; justify-content: center; align-items: center;">
    <div style="text-align: center; max-width: 600px;">
        <section class="message-list" style="margin: 0 auto;">
            <section class="message -left">
                <div class="nes-balloon from-left">
                    <p class="nes-text is-error blink_text">{{ message }}</p>
                </div>
            </section>
            <i style="float: left;" class="nes-octocat animate"></i>
        </section>
    </div>
</div>
{% endblock content %}