{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='css/models_style.css') }}">
<div class="content blue-bg">
    {% if models is defined and models|length > 0 %}
    <div>
        <span>AVAILABLE MODELS</span>
    </div>
    {% set click_handler = 'goToURL' %}
    {% include 'components/model_table.html' %}
    {% else %}
    {% set message = 'Uh oh! it looks like no models have been generated! Try going to upload to start!' %}
    {% set error = true %}
    {% set icon = 'nes-octocat' %}
    {% set animate = true %}
    {% include 'components/empty_state.html' %}
    {% endif %}
    <script>
        function goToURL(id) {
            const modelName = id.slice(0, -3);
            const status = document.getElementById(modelName + "-status");
            if (status.innerText.trim() == "complete") {
                const currentURL = window.location.href;
                const splitIndex = currentURL.lastIndexOf("/");
                const url = currentURL.substring(splitIndex, 0) + "/models/getFunctions?modelName=" + modelName;
                if (url) { window.location = url; }
            } else if (status.innerText.trim() == "N/A") {
                alert('No analysis has been performed yet!');
            } else {
                alert('Binary Analysis is not complete!');
            }
        }

        function deleteModel() {
            var selection = document.getElementById("file-name").innerText;
            var binToDelete = selection.split(':')[1].replace(/\s+/, "");
            var currentURL = window.location.href;
            var url = "/models/getSymbols" + "?binaryDel=" + binToDelete;
            if (url) { window.location = url; }
        }
    </script>
</div>
{% endblock %}
