{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/models_style.css') }}">
{% endblock head %}
{% block content %}
<div class="content blue-bg">
    {% if models is defined and models|length > 0 %}
    <div>
        <span>AVAILABLE MODELS</span>
    </div>
    {% set click_handler = 'goToModelURL' %}
    {% include 'components/model_table.html' %}
    {% else %}
    {% set message = 'Uh oh! it looks like no models have been generated! Try going to upload to start!' %}
    {% set error = true %}
    {% set icon = 'nes-octocat' %}
    {% set animate = true %}
    {% include 'components/empty_state.html' %}
    {% endif %}
    <script src="{{ url_for('static', path='js/common.js') }}"></script>
    <script src="{{ url_for('static', path='js/models.js') }}"></script>
</div>
{% endblock content %}
