{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='css/predictions_style.css') }}">
<div class="content blue-bg">
    {% set items = [
        {'label': 'File Name', 'value': bin_name, 'id': 'file-name'},
        {'label': 'Model Name', 'value': model_name, 'id': 'model-name'}
    ] %}
    {% include 'components/page_header.html' %}

    <div class="table-container">
        <div class="nes-table-responsive">
            <blockquote>
                <table class="nes-table is-bordered is-centered">
                    <thead>
                        <tr>
                            <th scope="col">Function Name</th>
                            <th scope="col">EntryPoint</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for functionInfo in functions %}
                        <tr id="{{ functionInfo[1] }}-id" onmouseover="changeBackground(this.id, 'rgba(0,255,255,0.07)');"
                            onmouseout="changeBackground(this.id, '#000000');" onclick="goToFunctionURL(this.id)">
                            <td>{{ functionInfo[1] }}</td>
                            <td>0x{{ functionInfo[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </blockquote>
        </div>
        <div class="button-group">
            <button type="button" class="nes-btn is-primary" onclick="deleteModel()">Delete</button>
            <button type="button" class="nes-btn is-primary" onclick="history.back()">Go Back</button>
        </div>
    </div>
</div>

<script>
    function goToFunctionURL(id) {
        const functionName = id.slice(0, -3);
        const url = "/api/v1/models/getFunction?functionName=" + functionName + "&modelName=" + "{{ model_name }}";
        if (url) {
            window.location = url;
        }
    }

    function deleteModel() {
        var selection = document.getElementById("model-name").innerText;
        var modelToDelete = selection.split(':')[1].replace(/\s+/, "");
        var url = "/api/v1/models/deleteModel?modelName=" + modelToDelete;

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            }
        }).then(() => {
            window.location = "/";
        });
    }
</script>

{% endblock %}
