{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', path='css/predictions_style.css') }}">
<div class="content blue-bg">
    <div class="overflow">
        <div>
            <span>Model: {{ model_name }}</span>
        </div>
        <div>
            <span id="function-name">Function: {{ function_name }}</span>
        </div>

        {% set title = 'Function Tokens' %}
        {% set id = 'tokens-display' %}
        {% include 'components/token_display.html' %}

        <div class="center-contents" style="margin-top: 2%;">
            <button type="button" class="nes-btn is-primary" onclick="history.back()">Go Back</button>
        </div>
    </div>
</div>

<script>
    function deleteFunction() {
        var selection = document.getElementById("function-name").innerText;
        var functionToDelete = selection.split(':')[1].replace(/\s+/, "");
        var currentURL = window.location.href;
        var url = "/model/deleteFunction" + "?function_name=" + functionToDelete;

        if (url) {
            window.location = '/';
        }

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json'
            }
        });
    }
</script>

{% endblock %}
