{{ define "title" }}{{.Title}}{{ end }} {{ define "content" }}
<div class="container">
    {{$binaryName := .SymbolTable.BinaryName}}
    <div class="card m-5 shadow rounded">
        <div class="card-header">
            File Name: {{$binaryName}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">EntryPoint</th>
                            <th scope="col">Function Name</th>
                        </tr>
                    </thead>
                    {{range $entryPoint, $functionName := .SymbolTable.SymbolsMap}}
                    <tbody>
                        <tr>
                            <td>0x{{$entryPoint}}</td>
                            <td>{{$functionName}}</td>
                        </tr>
                    </tbody>
                    {{end}}
                </table>


            </blockquote>
        </div>
    </div>

</div>
{{ end }}