{% extends "layout.html" %}
{% block content %}
<div class="content blue-bg">
    <div class="nes-container is-rounded is-centered white-bg">
        <div>
            <h1 class="center-text">Glyph</h1>
            <p class="nes-text is-primary center-text">A binary analysis tool for fingerprinting functions</p>
            <button type="button" class="nes-btn is-primary" onclick="location.href='/uploadBinary';">Click here to
                start</button>
        </div>
    </div>
</div>
<style>
    .center-text {
        text-align: center;
    }

</style>
{% endblock %}