{{ define "title" }}{{.Title}}{{ end }}
{{ define "content" }}
<div class="content blue-bg">
    <div class="nes-container is-rounded is-centered white-bg">
        <div>
            <h1 class="center-text">Glyph</h1>
            <p class="nes-text is-primary center-text">A binary analysis tool for fingerprinting functions</p>
            <button type="button" class="nes-btn is-primary" onclick="location.href='/uploadBinary';">Click here to
                start</button>
        </div>
    </div>
</div>
<style>
    .center-text {
        text-align: center;
    }

    .blink_text {

        animation: 3s blinker linear infinite;
        -webkit-animation: 3s blinker linear infinite;
        -moz-animation: 3s blinker linear infinite;
    }

    @-moz-keyframes blinker {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }

    @-webkit-keyframes blinker {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }

    @keyframes blinker {
        0% {
            opacity: 1.0;
        }

        50% {
            opacity: 0.0;
        }

        100% {
            opacity: 1.0;
        }
    }
</style>
{{ end }}