<!doctype html>
<html lang="en" style="background-color: #2590e3;">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />

  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>

  <title>{{ template "title" . }}</title>
  <nav class="uk-navbar-container uk-margin" style="background-color: #FFE6B6;" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="/" style="font-family: 'Press Start 2P', cursive; color:#333333">Glyph</a>

        <ul class="uk-navbar-nav">
            <li>
                <a href="/getSymbols" style="font-family: 'Press Start 2P', cursive;">
                    <span class="uk-icon uk-margin-small-right"></span>
                    Get Symbols
                </a>
            </li>
        </ul>
        <ul class="uk-navbar-nav">
          <li>
              <a href="/uploadBinary" style="font-family: 'Press Start 2P', cursive;">
                  <span class="uk-icon uk-margin-small-right"></span>
                  Upload
              </a>
          </li>
      </ul>
        <ul class="uk-navbar-nav">
          <li>
              <a href="#" style="font-family: 'Press Start 2P', cursive;">
                  <span class="uk-icon uk-margin-small-right"></span>
                  View Binaries
              </a>
          </li>
      </ul>
    </div>
</nav>
</head>
<body style="font-family: 'Press Start 2P', cursive;">
  {{ template "content" . }}
</body>
</html>