{{ define "title" }}{{.Title}}{{ end }} {{ define "content" }}
<div class="container">
    <div class="card shadow mt-5">
        <div class="card-header">
            Upload A Binary
        </div>
        <div class="card-body">
            <form enctype="multipart/form-data" action="http://localhost:8080/uploadBinary" method="post">
                <input type="file" name="binaryFile" data-toggle="tooltip" data-placement="top" title="Max File Size 500MB"/>
                <input type="submit" value="Upload" />
            </form>
        </div>
    </div>
</div>
{{ end }}