{{ define "title" }}{{.Title}}{{ end }}
{{ define "content" }}
<div class="content" style="background-color: #2590e3;">
    <div class="nes-container with-title is-centered" style="background-color: white;">
        <p class="title">Upload</p>
        <p>Upload a binary to be analyzed</p>
        <label class="nes-btn">
            <span>Select your file</span>
            <input type="file">
        </label>
        <progress class="nes-progress is-primary" value="80" max="100" hidden></progress>
    </div>
</div>

<script>
    var bar = document.getElementById('progress-bar');

    UIkit.upload('.js-upload', {

        url: '/uploadBinary',
        multiple: true,

        beforeSend: function () {
            console.log('beforeSend', arguments);
        },
        beforeAll: function () {
            console.log('beforeAll', arguments);
        },
        load: function () {
            console.log('load', arguments);
        },
        error: function () {
            console.log('error', arguments);
        },
        complete: function () {
            console.log('complete', arguments);
        },

        loadStart: function (e) {
            console.log('loadStart', arguments);

            bar.removeAttribute('hidden');
            bar.max = e.total;
            bar.value = e.loaded;
        },

        progress: function (e) {
            console.log('progress', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        loadEnd: function (e) {
            console.log('loadEnd', arguments);

            bar.max = e.total;
            bar.value = e.loaded;
        },

        completeAll: function () {
            console.log('completeAll', arguments);

            setTimeout(function () {
                bar.setAttribute('hidden', 'hidden');
            }, 1000);

            alert('Upload Completed');
        }

    });
</script>

{{ end }}