{# Token Display Component
# Usage:
#   {% include 'components/token_display.html' with {
#     'tokens': tokens,
#     'title': 'Function Tokens',
#     'id': 'tokens-display'
#   } %}
#}
<div class="cyber-container is-rounded white-bg token-scroll" style="margin-top: 2%; margin-left: auto; margin-right: auto;">
    {% if title %}
    <p class="title">{{ title }}</p>
    {% endif %}
    <pre id="{{ id | default('tokens-display') }}" style="font-family: 'Source Code Pro', monospace;">{{ tokens }}</pre>
</div>
