{% extends "layout.html" %}
{% block content %}
<div class="content blue-bg">
    <div class="blue-bg" style="margin:0 auto;">
        <section class="message-list">
            <section class="message -left">
                <div class="nes-balloon from-left">
                    <p class="nes-text is-error blink_text">{{ message }}</p>
                </div>
            </section>
            <i style="float: left;" class="nes-octocat animate"></i>
        </section>
    </div>
</div>
{% endblock %}